<%= render partial: "pages/dashboardnav" %>

<section class="hero is-fullheight-with-navbar is-dashboard-content">
  <div class="container">
    <nav class="level">

      <!-- Preview Donation box -->
      <div class="level-left is-donation-box">
      </div>

      <!-- Editor Input Fields -->
      <div class="level-right">
      </div>
    </nav>
  </div>
</section>
