@import "bulma";
@import "bulma-extensions";
@import "megamenu";

$isbablue: #004b8d !important;
$iswhite: white !important;
$dashboardbg: #EBEFF4;
$linkcolor: #25ACFF;
$isbrilliantgreen: #32d28f;
$hastextlinkcolor: #25ACFF;
$isgrey: #F4F4F4;
$fontfamily: 'Rubik', sans-serif;

// Application
body {
   font-family: $fontfamily;
   color: #1A1D21;
   -webkit-font-smoothing: antialiased;
}

// Main
.is-bablue {
  color: $isbablue;
}

.has-background-bablue {
  background-color: $isbablue;
}

.is-brilliantgreen {
  background-color: $isbrilliantgreen;
  color: $iswhite;
  border: none;
}

.has-text-size-14px {
  font-size: 14px;
  color: $isbablue;
}

.has-decreased-margin {
  margin-top: -10rem;
}

.has-bottom-padding {
  padding-bottom: 1rem;
}

.is-padded {
  padding: 1.25rem 2rem;
}

.is-link-color {
  background-color: $linkcolor;
}

.has-textlink-color {
  color: $hastextlinkcolor;
}

span.menulinks a {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  a:hover {
    color: $hastextlinkcolor;
  }
}

.is-devise {
  margin-top: 100px;
}

.align-brand-left {
  margin-left: 1rem;
}

.has-text-underlined {
  text-decoration: underline !important;
}

// Splash
.splash-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(212, 51%, 54%, 1.00)), to(hsla(210, 60%, 60%, 1.00)));
  background-image: linear-gradient(180deg, hsla(212, 51%, 54%, 1.00), hsla(210, 60%, 60%, 1.00));
}

.splash-title {
  font-size: 60px;
}

// Dashboard
.is-dashboard-content {
  background-color: $dashboardbg;
}

.is-dashboard-overview {
  background-color: $iswhite;
  margin-top: 40px;
  height: 160px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.16);
}

.is-new-form-button {
  color: $iswhite;
  margin-top: -7px;
  font-size: 1rem !important;
  padding: 1.5rem 3rem;
  width: 320px;
  border-radius: 0 !important;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.16);
}

.is-contributions-overview {
  height: 280px;
  width: 320px;
  background-color: $iswhite;
  margin-top: 20px;
  border-radius: 0 !important;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.16);
  p.help {
    letter-spacing: 1px;
  }
  p span {
    float: right;
  }
}

.is-contribution, .is-form {
  padding-top: 1rem;
  span.is-form-amount {
    float: right;
  }
}

.level-left.is-dashboard-left {
    display: block !important;
}

.heading {
  text-align: left;
  font-size: 12px !important;
}

.is-recent-forms {
  height: 350px;
  width: 800px;
  background-color: $iswhite;
  margin-top: -10px;
  border-radius: 0 !important;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.16);
  p.help {
    letter-spacing: 1px;
  }
}

// Tables
// Forms Listing
table.table {
  margin-top: 40px;
  margin-left: 80px;
  width: 1000px;
}

table.table thead tr th {
  font-size: 14px;
  font-weight: 500;
  padding-left: 2rem !important;
}

table.table tbody tr th, tbody tr td {
    padding: 1rem !important;
}

// Recent Forms - Dashboard Box
.forms-box {
  padding: 0 !important;
}

.recent-forms-header {
  padding: 1.25rem;
}

table.dashboard-table {
  width: 800px;
  margin-top: 1rem;
}

table.dashboard-table thead tr th {
  font-size: 14px;
  font-weight: 500;
  padding-left: 1rem !important;
  border-bottom: 1px solid $isgrey;
  border-width: medium;;
}

table.dashboard-table tbody tr th, tbody tr td {
    padding: 1rem !important;
    border-bottom: 1px solid $isgrey;
    border-width: medium;;
}

// Contributors Listing
table.table thead tr th {
  padding-left: 1rem !important;
}

table.contributions-table tbody tr th, tbody tr td {
    padding: 1rem !important;
}
